<mat-grid-list cols="12" rowHeight="3:1">
     <div>
        <mat-grid-tile rowspan="12" colspan="8" style="background-color: aqua;">Announcement</mat-grid-tile>
    </div>
    <div>
        <mat-grid-tile rowspan="4" style="background-color: aqua;">Active Employee</mat-grid-tile>
    </div>
    <div>
        <mat-grid-tile rowspan="4" style="background-color: aqua;">Inactive Employee</mat-grid-tile>
    </div>
    <div>
        <mat-grid-tile rowspan="4" style="background-color: aqua;">New Hire</mat-grid-tile>
    </div>
    <div>
        <mat-grid-tile rowspan="4" style="background-color: aqua;">Total Employee</mat-grid-tile>
    </div>
    <div>
        <mat-grid-tile rowspan="8" colspan="4"  style="background-color: aqua;">Birthday</mat-grid-tile>
    </div>  
    <div>
        <mat-grid-tile rowspan="8" colspan="12" style="background-color: aqua;">Employee Statistic</mat-grid-tile>
    </div>   
</mat-grid-list>