.container-fluid{
  padding: 25px;
  margin: 0;
}

#announcement {
  height: 100%;
	background-color: #f2f2f2;
  // margin-left: 15px;
  // padding: 20px;
  margin-bottom: 5px;
	border: 1px solid #ccc;
  min-height: 500px;
}

#employee-stats {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
  height: auto;
  align-items: center;
	padding-top: 0px;
  padding-bottom: 20px;
}

.employee-stat {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
	text-align: center;
	width: 150px;
  height: 150px;
}

#event{
  display: flex;
	flex-wrap: wrap;
	justify-content:center;
  height: auto;
  width: 100%;
  align-items:flex-end;
	padding-top: 0px;
  background-color: transparent;
}

.employee-birthdays {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	// padding: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  height: 370px;
  width: 45%;
  min-width: 200px;
}

.holidays {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	// padding: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  height: 370px;
  width: 45%;
  min-width: 200px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 10px 0;
}

#employee-statistics {
	background-color: #f2f2f2;
  margin-top: 25px;
	border: 1px solid #ccc;
  height: 500px;
}