<div>
    <mat-card class="example-card">
        <mat-card-header>
        <div class="header-container">
            <div mat-card-avatar class="example-header-image"></div>
            <div class="header-content">
            <mat-card-title>ADMIN</mat-card-title>
            <mat-card-subtitle>REEMART</mat-card-subtitle>
            </div>
        </div>
        </mat-card-header>
    </mat-card>
    <mat-divider></mat-divider>
    <button class="menu-title" mat-button routerLink="/dashboard" (click)="onButtonClick()">DASHBOARD</button>
    <mat-expansion-panel class = "expansionPanel" (click)="handleClick()" #panel1 [expanded]="expandedPanel === 'panel1'">
        <mat-expansion-panel-header (click)="panelClick('panel1')">
        <mat-panel-title class="menu-dropdown-title">
            EMPLOYEES
        </mat-panel-title>
        </mat-expansion-panel-header>
        <button class="expansionPanelButton" mat-button routerLink="/add-employee" (click)="onButtonClick()">ADD EMPLOYEE</button>
        <button class="expansionPanelButton" mat-button routerLink="/employee-list" (click)="onButtonClick()">EMPLOYEE LIST</button>
    </mat-expansion-panel>
    <mat-expansion-panel class = "expansionPanel" (click)="handleClick()" #panel2 [expanded]="expandedPanel === 'panel2'">
        <mat-expansion-panel-header (click)="panelClick('panel2')">
        <mat-panel-title class="menu-dropdown-title">
            REQUEST
        </mat-panel-title>
        </mat-expansion-panel-header>
        <button class="expansionPanelButton" mat-button routerLink="/leave-request" (click)="onButtonClick()">LEAVE</button>
        <button class="expansionPanelButton" mat-button routerLink="/overtime-request" (click)="onButtonClick()">OVERTIME</button>
        <button class="expansionPanelButton" mat-button routerLink="/changeshift-request" (click)="onButtonClick()">CHANGE SHIFT</button>
        <button class="expansionPanelButton" mat-button routerLink="/timecorrection-request" (click)="onButtonClick()">TIME CORRECTION</button>
        <button class="expansionPanelButton" mat-button routerLink="/request-list" (click)="onButtonClick()">REQUEST LIST</button>
    </mat-expansion-panel>
    <mat-expansion-panel class = "expansionPanel" (click)="handleClick()" #panel2 [expanded]="expandedPanel === 'panel3'">
        <mat-expansion-panel-header (click)="panelClick('panel3')">
        <mat-panel-title class="menu-dropdown-title">
            REPORTS
        </mat-panel-title>
        </mat-expansion-panel-header>
        <button class="expansionPanelButton" mat-button routerLink="/leaveReport" (click)="onButtonClick()">LEAVE REPORT</button>
        <button class="expansionPanelButton" mat-button routerLink="/overtimReporte" (click)="onButtonClick()">OVERTIME REPORT</button>
        <button class="expansionPanelButton" mat-button routerLink="/changeShiftReport" (click)="onButtonClick()">CHANGE SHIFT REPORT</button>
        <button class="expansionPanelButton" mat-button routerLink="/timeCorrectionReport" (click)="onButtonClick()">TIME CORRECTION REPORT</button>
        <button class="expansionPanelButton" mat-button routerLink="/leaveCreditAndUsageReport" (click)="onButtonClick()">LEAVE CREDIT AND USAGE REPORT</button>
        <button class="expansionPanelButton" mat-button routerLink="/approvalRouteReport" (click)="onButtonClick()">APPROVAL ROUTE REPORT</button>
    </mat-expansion-panel>
    <button class="menu-title" mat-button routerLink="/timeRegister" (click)="onButtonClick()">TIME REGISTER</button>
    <button class="menu-title" mat-button routerLink="/leaveCredits" (click)="onButtonClick()">LEAVE CREDITS</button>
    <button class="menu-title" mat-button routerLink="/approvalRoute" (click)="onButtonClick()">APPROVAL ROUTE</button>
    <mat-expansion-panel class = "expansionPanel" (click)="handleClick()" #panel2 [expanded]="expandedPanel === 'panel4'">
        <mat-expansion-panel-header (click)="panelClick('panel4')">
        <mat-panel-title class="menu-dropdown-title">
            SYSTEM CONFIGURATION
        </mat-panel-title>
        </mat-expansion-panel-header>
        <button class="expansionPanelButton" mat-button routerLink="/companyList" (click)="onButtonClick()">COMPANY LIST</button>
        <button class="expansionPanelButton" mat-button routerLink="/costcenter" (click)="onButtonClick()">COSTCENTER</button>
        <button class="expansionPanelButton" mat-button routerLink="/leaveCodeList" (click)="onButtonClick()">LEAVE CODE LIST</button>
        <button class="expansionPanelButton" mat-button routerLink="/shiftCodeList" (click)="onButtonClick()">SHIFT CODE LIST</button>
    
    </mat-expansion-panel>
    <button (click)="onLogoutClicked()" class="menu-title" mat-button routerLink="/logout" (click)="onButtonClick()">LOGOUT</button>

</div>