<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <button mat-icon-button (click)="toggleSidebar()" style="color:white">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </div>
</nav> -->

<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
      <mat-icon>menu</mat-icon>
    </button>
    <!--<span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>-->
</mat-toolbar>
